.about{
  padding-top: 112px;
  padding-bottom: 110px;
  width: 100%;
  background: #202020;
  box-sizing: border-box;
}

@media screen and (max-width: 768px){
  .about{
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 476px){
  .about{
    padding-top: 72px;
    padding-bottom: 70px;
  }
}
