.techs__container{
  margin: 103px 0;
  display: flex;
  flex-direction: column;
  width: 89%;
  max-width: 1140px;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (max-width: 768px){
  .techs__container{
    margin-top: 92px;
    margin-bottom: 90px;
    width: 87%;
  }
}

@media screen and (max-width: 426px){
  .techs__container{
    margin-top: 64px;
    margin-bottom: 70px;
    width: 87%;
    justify-content: center;
  }
}
