.portfolio__container {
  display: flex;
  flex-direction: column;
  width: 89%;
  max-width: 1140px;
  margin-bottom: 125px;
}

@media screen and (max-width: 768px) {
  .portfolio__container{
    margin-bottom: 90px;
    width: 87%;
  }
}

@media screen and (max-width: 426px) {
  .portfolio__container{
    margin-bottom: 70px;
    width: 91%;
  }
}
