.not-found__title{
  color: #FFF;
  text-align: center;
  font-size: 140px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}


@media screen and (max-width: 426px) {
  .not-found__title{
    font-size: 80px;
  }
}
