.header__link_type_login{
  min-width: 76px;
  min-height: 32px;
  vertical-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: #3DDC84;
  color: #000;
}

@media screen and (max-width: 426px){
  .header__link_type_login{
    min-height: 26px;
    min-width: 56px;
  }
}
