.about__prog-way{
  color: #8B8B8B;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  margin: 0;
  padding-top: 14px;
  box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 476px){
  .about__prog-way{
    font-size: 11px;
    padding-top: 10px;
    line-height: normal;
  }
}
