.navigation__icon-cross{
  visibility: hidden;
  position: absolute;

}

@media screen and (max-width: 768px){
  .navigation__icon-cross{
    visibility: visible;
    background-image: url("../../../images/navigation__icon-cross.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    border: none;
    top: 22px;
    right: 22px;
    width: 32px;
    height: 32px;
  }
}

@media screen and (max-width: 426px) {
  .navigation__icon-cross{
    top: 14px;
    right: 14px;

    object-fit: cover;
  }
}
