.about__duration{
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2,36px);
  grid-template-columns: 1fr 4fr;
  justify-items: center;
  margin: 110px 0 0;
}

@media screen and (max-width: 768px){
  .about__duration{
    margin-top: 93px;
  }
}

@media screen and (max-width: 476px){
  .about__duration{
    grid-template-columns: 1.8fr 3.2fr;  }
}
