.navigation__container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-left: 44px;
}

@media screen and (max-width: 768px) {
  .navigation__container{
    visibility: hidden;
    transform: translateX(100%);
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    max-width: 520px;
    width: 100%;
    min-height: 100vh;
    background: #202020;
    padding: 159px 0 90px;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
    z-index: 5;
  }
}
