.title-block{
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  color: #fff;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #DADADA;
  padding-bottom: 23px;
  margin: 0;
}

@media screen and (max-width: 476px){
  .title-block{
    font-size: 18px;
    letter-spacing: -0.72px;
    padding-bottom: 28px;
  }
}
