.auth__button {
  margin: 216px 0 0;
  width: 100%;
  height: 45px;
  border-radius: 3px;
  background: #4285F4;
  color: #FFF;
  border: none;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

@media screen and (max-width: 426px) {
  .auth__button{
    font-size: 12px;
  }
}
