.techs__subtitle {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.56px;
  margin: 26px 0 0;
  max-width: 460px;
}

@media screen and (max-width: 768px){
  .techs__subtitle{
    font-size: 12px;
    margin-top: 22px;
    letter-spacing: -0.48px;
  }
}

@media screen and (max-width: 426px){
  .techs__subtitle{
    margin-top: 24px;
  }
}
