.search-form {
  box-sizing: border-box;
  margin: 70px 0;
  width: 100%;
  display: flex;
  border-radius: 9px;
  background: #2F2F2F;
  padding: 19px 30px 19px 19px;
  max-height: 72px;
  align-items: center;
}

@media screen and (max-width: 426px) {
.search-form{
  padding-right: 19px;
}
}

@media screen and (max-width: 426px) {
  .search-form{
    margin-top: 80px;
    margin-bottom: 45px;
    flex-direction: column;
    background-color: transparent;
    height: auto;
    gap: 46px;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
