.not-found {
  display: flex;
  position: absolute;
  top: calc(50% - 100px);
  flex-direction: column;
  width: 100%;
}

@media screen and (max-width: 426px) {
  .not-found{
    top: calc(50% - 55px);
  }
}
