.about-me__link {
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  margin:  100px 0 0;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .about-me__link{
    margin-top: 87px;
  }
}

@media screen and (max-width: 426px) {
  .about-me__link{
    margin-top: 40px;
  }
}
